:root {
/* //hamburger settings */
--bar-width: 35px;
--bar-height: 2px;
--hamburger-gap: 9px;
--foreground: #333;
--background: white;
--animation-timing: 200ms ease-in-out;
--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
  /* ## Colors */

  /* ### Primary */

  --Softred: hsl(7, 99%, 70%);
  -yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Darkdesaturatedcyan: hsl(167, 40%, 24%);
  /* (photography text) */
  --Darkblue: hsl(198, 62%, 26%);
  /* (footer) */
  --Darkmoderatecyan: hsl(168, 34%, 41%);

  /* ### Neutral */
  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

*, *::after, *::before {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-size: 18px;
  text-align: center;
}
body {
  position: relative;
  font-family: "Fraunces", serif;
}
a{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color:white;

}
/* HEADER */

/* HAMBURGER */
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  right: 2rem;
  top:2.5rem;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: white;
  border-radius: 9999px;
  transform-origin:left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

 .hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
} 
.hamburger-menu:has(input:checked)::before {
  rotate: 39deg;
 
}
.hamburger-menu:has(input:checked)::after {
  rotate: -39deg;

}
.hamburger-menu input:checked {
opacity: 0;
width: 0;
}
.sidebar {
  position: absolute;
  height: 35vh;
  width: 70%;
  background-color: white;
margin: 4.5rem 0rem 0rem 2rem; 
padding: 2rem;
transition: translate var(--animation-timing) ;
 translate: 120%;
}
.sidebar::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: -1.6rem;
  rotate: 180deg;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
.sidebar a:hover,.sidebar #contact-anchor:hover {
   cursor: pointer;
  
}
.sidebar div {
  margin-bottom: 4rem;
}
.sidebar a {
color: var(--Grayishblue);
font-family: "Barlow", serif;
font-size: 1.2rem;
text-decoration: none;
}
.sidebar a:hover {
  color: hsl(234, 9%, 46%);;
}
.sidebar #contact-anchor:hover {
  background-color: #f8e919
}
.sidebar #contact-anchor {
  margin-top: 1rem;
  background-color:#ffd600 ;
  padding: 0.7rem 1.2rem;
  color:black;
  font-size: 1rem;
  border-radius: 2rem;
  font-family: "Fraunces", serif;
  align-items: center;
  align-content: center;
}

/* //HAMBURGER */
#nav-bar {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
#header-logo {
  width: 155px;
  height: 30px;
}
#header-logo {
  cursor: pointer;
}
#header-hamburg {
  width: 29px;
  height: 22.5px;
  margin-left: 10rem;
}
#header-hamburg:hover {
  cursor:pointer;
}
#nav-bar a {
  font-size: 0.8rem;
  font-family: "Barlow";
  margin-left: 2rem;
}
#nav-bar a:hover {
  cursor: pointer;
}
#nav-anchor-links {
display: none;
color:white;
justify-content: space-between;
}
#nav-bar #contact-anchor{
  padding: 0.7rem 1.1rem;
  background-color: white;
  color:black;
  font-size: 0.7rem;
  border-radius: 2rem;
  font-family: "Fraunces", serif;
  align-items: center;
  align-content: center;
}
#nav-bar #contact-anchor:hover {
  background-color: #6eceff;
  color: white;
}
h1,
#hold-title {
  font-weight: bold;
  color: white;
  font-size: 2.8rem;
  margin-top: 4rem;
  letter-spacing: 0.5rem;

}
#hold-top-header p {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#top-section {

  background-image: url(/images/desktop/image-header.jpg);
  height: 80vh;
  /* background-color: #3ebfff; */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem 0;

  position: relative;
}
#hold-top-header {
}
/* SECTION 1 */
#top-section {
  /* background-color: #3ebfff; */
}

/* ARROW IMG */
#header-img1 {
  width: 48px;
  height: 190px;
}

/* SECTION 2 */
/* EGG image */

#header-hold-egg {
  background-image: url(/images/mobile/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 25.5rem;
  width: 100%;
  background-position: center center;
}
#back-yellow {
  width: 100%;
background-color: #ffd600;
}
#header-img3 {
  max-width: 580px;
  min-width: none;
  width: 100%;
  height: 400px;
}
#back-red {
  background-color: #ff7163;
}
/* SECTION 2 */
#header-section2-img {
  max-width: 580px;
  min-width: none;
  width: 100%;
  height: 390px;
}
#learn-more1 {
  padding: 4.3rem 2rem;
}
#learn-more2 {
  padding: 4.3rem 2rem;
}
#learn-more1 h2,
#learn-more2 h3 {
  font-size: 2.2rem;
  padding: 0rem 0.2rem;
  font-weight: 800;
}
#learn-more1 p,
#learn-more2 p {
  font-size: 1.23rem;
  margin-top: 2rem;
  line-height: 1.8rem;
  color: var(--Darkgrayishblue);
  font-family: "Barlow";
  margin-bottom: 2.4rem;
}
#learn-more1 a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}
#learn-more1-div {
  width: 8.6rem;
  margin: 0 auto;
  box-shadow: 0px -7px 0px 0px rgba(251, 220, 10, 0.3) inset;
  margin: 3rem auto 0.8rem auto;
}
#learn-more2-div {
  width: 8.6rem;
  margin: 0 auto;
  box-shadow: 0px -7px 0px 0px rgba(252, 119, 102, 0.2) inset;
  margin: 3rem auto 1rem auto;
}
#learn-more2 a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

/* MAIN */

/* SECTION 3 */
#main-hold-glass {
  background-image: url(/images/desktop/image-stand-out.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25rem;
  background-position: center center;
}
#section3-cherry {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem 0;

  position: relative;
}
#section3-orange {
  background-image: url(/images/desktop/image-photography.jpg);
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem 0;
  
  position: relative;
  color: var(--Grayishblue);
}

#cherry-text {
  padding-top: 28.2rem;
  color: var(--Darkdesaturatedcyan);
}
#orange-text {
  padding-top: 28.2rem;
  color: var(--Darkblue);
}

#cherry-text h4,
#orange-text h5 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
#cherry-text p {
  color: var(--Darkdesaturatedcyan);
  font-size: 1.1rem;
  font-family: "Barlow";
  padding: 0 2rem;
  line-height: 1.8rem;
}


#orange-text p {
  font-size: 1.1rem;
  font-family: "Barlow";
  padding: 0 2rem;
  line-height: 1.8rem;
}

/* FOOTER */

/* SECTION 4 */
h6 {
  margin: 4.5rem 0 4.5rem 0;
  color: var(--Grayishblue);
  letter-spacing: 0.3rem;
  font-weight: 800;
  font-size: 1.2rem;
}
.rounded {
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
#footer-section4 p {
  color: var(--Verydarkgrayishblue);
  font-size: 1.3rem;
  font-family: "Barlow";
  padding: 0 2rem;
  line-height: 2rem;
  margin-bottom: 2.4rem;
}
.padding-add { 
  padding: 0rem 2.1rem;
}

#footer-section4 span{
  color: black;
  font-size: 1.3rem;
}
#footer-section4 .name-p {
  color: var(--Grayishblue);
  font-size: 1rem;
  margin-bottom: 4rem;
}

/* FOUR IMAGES */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;

}

.gallery img {
  width: 50%;
  max-width: 350px;
  height: 50%;
  object-fit: cover;

}

.gallery::after {
  content: "";
  width: 350px;
}
/* FOOTER LAST SECTION */
#last-section {
  background-color: #90d4c5;
}
#logo-last {
 margin: 4.5rem 0 1rem 0;
 width:12rem;
 filter: invert(34%) sepia(6%) saturate(3724%) hue-rotate(117deg) brightness(60%) contrast(87%);
}

/* //HAMBURGER */



/* //HAMBURGER */
#social-media {
  display: flex;
  padding: 0 7.7rem;
  justify-content: space-between;
  padding-bottom: 4rem;
}
#social-media img {
  width: 1.45rem;
}
#footer-links {
  padding: 2.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
#footer-links a {
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Barlow";
  color: var(--Darkmoderatecyan);
}
#footer-links a:hover {
color:white;
}
#social-media img:hover {
  /* //filtro cor branca */
  filter:invert(94%) sepia(49%) saturate(60%) hue-rotate(261deg) brightness(140%) contrast(100%);
}
/* ATTRIBUTION */
.attribution {
  font-size: 0.8rem;
  text-align: center;
  background-color: #90d4c5;
  font-family: "Barlow";
  padding-bottom: 1rem;
}
.attribution a {
  /* color: #bb6402; */
  color: #2d8eb8;
  text-decoration: none;
}
.attribution a:hover {
  color: #32afe4;
}


/* IRÁ COMEÇAR A MUDAR A PARTIR DO MOMENTO QUE AS IMAGENS NÃO CRESCEM MAIS, TAMANHO MAXIMO DELAS 580PX */
@media screen and (min-width: 680px) {
  .hamburger-menu {
   
    display: none;
    
  }
  .sidebar {
    display: none;
  }
  #footer-section4 .padding-add { 
    padding: 0rem 10rem;
  }
  #header-hamburg {
    display: none;
  }
  #nav-anchor-links {
display: flex;
  }
 #top-section2 {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
#main-section3 {
   display: flex;
   width: 100%;
   height: 25rem;
}
#header-hold-egg {
  background-image: url(/images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center center;
}
#main-hold-glass {
  background-image: url(/images/desktop/image-stand-out.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center center;
}

#learn-more1, #learn-more2 {
  width:100%;
  padding: 0rem 0rem;
  position: relative;
}

#learn-more1 h2,#learn-more2 h3 {
  padding:4rem 2rem 0rem 2rem;
}

#learn-more1 h2,
#learn-more2 h3 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 800;
}
#learn-more2 h3 {
  padding: 1.8em 2rem 0rem 2rem;
}
#learn-more1 p,
#learn-more2 p {
  padding:0 2rem 0rem 2rem;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: var(--Darkgrayishblue);
  font-family: "Barlow";
}

#learn-more1 a, #learn-more2 a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  
}
/* MAIN SECTION */

 #learn-more1-div,#learn-more2-div {
position: absolute;
left: 1rem;
bottom: 4rem;
 }
 /* SECTION FRUITS */
 #hold-section3-fruits {
  display: flex;
}
#section3-cherry {
  height: 75vh;
  width: 50%;
  background-position: 60% 20%;
}
#cherry-text p, #orange-text p {
  font-size: 1rem;
}
#section3-orange {
  height: 75vh;
  width: 50%;

}
#footer-links {
  padding: 2.6rem 10rem;
}
.gallery {
  display: flex;
  max-width: 100%;
  width: 100%;

}

.gallery img {
  width: 50%;
  max-width: 100%;
  height: 50%;
  object-fit: cover;

}

.gallery::after {
  content: "";
  width: 350px;
}

/* MEDIA SCREEN 1000 */

}
@media screen and (min-width: 1000px) {
  #social-media {
    width: 15rem;
    margin: auto;
  }
  #footer-links {

    width: 20rem;
    margin: auto;
    margin-bottom: 5rem;

  }
  #cherry-text p, #orange-text p {
    font-size: 1.2rem;
  }

}


/* MEDIA SCREEN 1200 */
@media screen and (min-width: 1200px) {

  #footer-section4 .padding-add { 
    padding: 0rem 20rem;


  }

  #learn-more1 h2 ,#learn-more2 h3{
    padding:3.6rem 6rem 0rem 6rem;

  }
  #learn-more1 h2,
  #learn-more2 h3 {
    text-align: left;
    font-size: 2rem;
    font-weight: 800;
  }
  #learn-more1 p,
  #learn-more2 p {
    padding:0 6rem 0rem 6rem;
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--Darkgrayishblue);
    font-family: "Barlow";
  }

  #learn-more1-div,#learn-more2-div {
    position: absolute;
    left: 5.4rem;
    bottom: 2rem;
     }
     #cherry-text p, #orange-text p {
      margin: 0 3rem;
     } 
     
  .gallery {
    display: none;
  }
  
  .gallery-desktop {
display: flex;
width: 100%;
height: 32rem;
  }
  #milk {
background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 25%;
  }
  #orange {
    background-image: url(/images/desktop/image-gallery-orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 25%;
  }
  #icecream {
    background-image: url(/images/desktop/image-gallery-cone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 25%;
  }
  #sugarcube {
    background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 25%;
  }
    }
@media screen and (min-width: 1440px) {
#nav-bar a {
  font-size: 0.8rem;

  font-family: "Barlow";
  margin-left: 5rem;
  
}
  #main-section3 {
    height: 65vh;
  }
  #learn-more1 h2 {
    padding:3rem 6rem 0rem 6rem;
  }
  #learn-more1 h2,
  #learn-more2 h3 {
    text-align: left;
    font-size: 3rem;
    font-weight: 800;
  }
  #learn-more1 p,
  #learn-more2 p {
    padding:0rem 6rem 0rem 6rem;
    text-align: left;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: var(--Darkgrayishblue);
    font-family: "Barlow";
  }
  #learn-more1-div,#learn-more2-div {
    position: absolute;
    left: 6.2rem;
    bottom: 4rem;
    }
  #learn-more1-div a ,#learn-more2-div a{
    font-size: 1.2rem;
  }
  #header-hold-egg {
    height: 65vh;
  }
  #main-hold-glass {
   height: 65vh;
  }
  #section3-cherry {
    height: 60vh;

  }
  #section3-orange {
    height: 60vh;
  }
  #cherry-text,#orange-text {
    padding-top: 21.5rem;
   }
   #cherry-text p, #orange-text p {
    margin: 0 8rem;
   } 

  #footer-section4 .padding-add { 
    padding: 0rem 0rem;

  }
  #hold-testimonials {
    display: flex;
    padding: 0 8rem 4rem 8rem;
  }
  
  #hold-testimonials .photo-text {
    font-size: 1rem;
    padding:  0 1.2rem;
  }
  #footer-section4 h6 {
    margin-top: 8rem;
 
  }
  #social-media {

    width: 10rem;
    margin: auto;
    
  }
  #footer-links {

    width: 20rem;
    margin: auto;
    margin-bottom: 5rem;

  }
  #cherry-text p, #orange-text p{
    font-size: 1.3rem;
  }
  .gallery {
    display: none;
  
  }

}
  