:root {
  /* ## Colors */

  /* ### Primary */

  --Softred: hsl(7, 99%, 70%);
  -yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Darkdesaturatedcyan: hsl(167, 40%, 24%);
  /* (photography text) */
  --Darkblue: hsl(198, 62%, 26%);
  /* (footer) */
  --Darkmoderatecyan: hsl(168, 34%, 41%);

  /* ### Neutral */
  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-size: 18px;
  text-align: center;
}
body {
  position: relative;
}
/* HEADER */
#nav-bar {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}
#header-logo {
  width: 155px;
  height: 30px;

}
#header-hamburg {
  width: 29px;
  height: 21.5px;
}
h1,
#hold-title {
  font-weight: bold;
  color: white;
  font-size: 2.8rem;
  margin-top: 4rem;
  letter-spacing: 0.5rem;
}
#hold-top-header p {
  font-size: 2.8rem;
  font-weight: bold;
}

#top-section {
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 38rem;
}
#hold-top-header {
  font-family: "Fraunces", serif;
}
/* SECTION 1 */
#top-section {
  /* background-color: #3ebfff; */
}

/* ARROW IMG */
#header-img1 {
  width: 42px;
  height: 150px;
  top: 20.6rem;
  left: 12.1rem;
  /* background-color: aquamarine; */
  position: absolute;
}
/* EGG image */
#header-img2 {
  max-width: 620px;
  min-width: none;
  width: 100%;
  height: 393px;
}
#header-img3 {
  width: 100%;
  height: 400px;
}
/* SECTION 2 */
#header-section2-img {
  width: 100%;
  height: 400px;
}

/* MAIN */

/* SECTION 3 */
#main-section3-img1 {
  width: 100%;
  height: 700px;
}
#main-section3-img2 {
  width: 100%;
  height: 700px;
}
/* FOOTER */

/* SECTION 4 */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
